<%-include('base_header') -%>
<div class="container">
    <div class="center">
        <div class="form">
            <h1 class="text-center fs-1">Login</h1>
            <div class="mb-3">
                <label class="form-label">Matrícula</label>
                <input type="text" class="form-control" id="id">
            </div>
            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="center"> 
                <a type="submit" class="btn btn-dark" href="/">Entrar</a>
            </div>
        </div>
    </div>
</div>
<%-include('base_footer') -%>