* {
    margin: 0;
    padding: 0;
}

.form {
    border: 3px solid white;
    box-shadow: 5px 5px 5px white;
    padding: 3%;
    width: 75%;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.center {
    display: flex;
    justify-content: center;
}